* {
      margin: 10;
      padding: 10;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background: #eee;
      height: 200vh;
    }

    .parallax-container {
      position: relative;
      height: 90vh;
      overflow: hidden;
    }

    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      will-change: transform;
    }

    .layer1 {
      background-image: url("img/Cielo.png");
      z-index: 1;
    }
    
     .layer2 {
      background-image: url("img/Estrellas.png");
      z-index: 2;
      
    }

    .layer3 {
      background-image: url("img/Logo.png");
      z-index: 3;
    }

    .layer4 {
      background-image: url("img/Nubes.png");
      z-index: 4;
    }
    @media (max-width: 768px) {
      body {
        height: auto;
      }
      .parallax-container {
        height: 30vh; /* reduce la altura en tablet */
      }
      .layer1 {
        background-size: contain; /* ajusta nubes */
        background-repeat: no-repeat;
      }
      .layer2 {
        background-size: contain; /* ajusta nubes */
        background-repeat: no-repeat;
      }
      .layer3 {
        background-size: 60%; /* logo más pequeño */
        background-repeat: no-repeat;
      }
      .layer4 {
        background-size: contain; /* ajusta nubes */
        background-repeat: no-repeat;
      }
    }
@property --maria {
            syntax: "<color>";
            inherits: true;
            initial-value: #d0b7fa;
        }
 
        @property --tamaño{
            syntax: "<length>";
            inherits: false;
            initial-value: 20px;
        }
        nav {
            background-color: #c5a3ff;
            color: aliceblue;
            padding: 20px;
            position: sticky;
            overflow: hidden;
            top: 0;
        }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
       
        }
 
        nav ul li{
            display: inline;
            margin: 10px;
        }
        h6{
            font-size: var(--tamaño);
        }

        .contenedor{
            width: 99%;
            background-color: var(--maria);
            display: block;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;
            border: 10px;
        }
        .otro{
            width: 99%;
            height: 80%;
            background-color: #bab8ee;
            display: block;
            margin-top: -40px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        .mascara {
            mask-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/500px-Apple_logo_black.svg.png);
            mask-repeat: no-repeat;
        }

        .padre{
            font-size: 20px;
        }
 
        .hijo{
            font-size:2em;
            color: blue;
        }
        .remex{
            font-size: 2rem;
            color: aqua;
        }
        .vh{
            height: 65vh;
            background-color: #d0b7fa;
        }
        .vw{
            width: 75vw;
            background-color: #c5a3ff;
        }
        .h1{
            width: 100px;
            height: 100px;
        }
 
        @media (max-width: 700px){
            nav ul{
                text-align: center;
            }
 
            nav ul li {
                display: block;
                margin: 10px;
            }
        }

        .cajas2{
            height: 65vh;
            background-color: rgb(109, 168, 255);
        }
        

        .cajas{
            height: 65vh;
            background-color: #d0b7fa;
        }
        .h2{
            width: 100px;
            height: 100px;
        }

        @media (max-width: 768px){
            .cajas2{
            color: black;
            background-color: skyblue;
            }
        }
        @media (min-width: 1024px){
            .cajas2{
            color: black;
            background-color: rgb(44, 100, 184);
        }

        .tx1{
            color: #514ba0;
        }
        .diferente{
            font-size: 6rem;
        }
        .sombra{
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        }
